<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/aboutus.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script">
    <title>About Us</title>
</head>
<body>

    <header>

        <div class="brand">
            <div class="brand--logo">
                <a href="/">
                    <img src="../assets/icon.png" alt="">
                </a>
                <a href="/">Group - 27</a>
            </div>
        </div>

        <nav class="main-nav">
            <!-- <a href="#">Home</a> -->
            <a href="/login" id="login">Login</a>
            <!-- <span class = "separator">/</span> -->
            <a href="/register" id="register">Register</a>
        </nav>
    </header>

    <main>

        <div class="heading">
            <h1>About Us</h1>
        </div>

        <div class="short_def">
            <p>
                This is a web-base application , which is basically an automated system for taking attendance.
                The system will make the process of taking attendance very easy. And reduces the difficulties in taking attendance like in manual method.
            </p>
        </div>

        <div class="team">

            <div class="heading">
                <h1>Our Team</h1>
            </div>

            <h3>Background</h3>

            <p>
                We all are the sophomores at Indian Institute of Information Technology,
                Sri City, Chittoor pursuing our B.Tech in Computer Science and Engineering
                department.
                Our vision is to make the attendance taking process completely
                automated so that the professors can focus on teaching and delivering
                quality content to his/her students without worrying much about
                student's attendance.
            </p>

            <h3>Team Members</h3>

            <div class="members">
                <div class="member">
                    <div class="pic">
                        <img src="../assets/varun_kumar_bansal.jpeg" alt="">
                    </div>

                    <h4>Varun Kumar Bansal</h4>
                    <h4>S20200010223</h4>
                    <h4>varunakumar.b20@iiits.in</h4>
                </div>

                <div class="member">
                    <div class="pic">
                        <img src="../assets/varun_mkh.jpg" alt="">
                    </div>

                    <h4>Varun Mukherjee</h4>
                    <h4>S20200010224</h4>
                    <h4>varun.m20@iiits.in</h4>
                </div>

                <div class="member">
                    <div class="pic">
                        <img src="../assets/saket.jpeg" alt="">
                    </div>

                    <h4>Saket Ranjan</h4>
                    <h4>S20200010185</h4>
                    <h4>saket.r20@iiits.in</h4>
                </div>

                <div class="member">
                    <div class="pic">
                        <img src="../assets/rohan.jpeg" alt="">
                    </div>

                    <h4>Mudavath Sugali Rohan</h4>
                    <h4>S20200010137</h4>
                    <h4>sugalirohan.m20@iiits.in</h4>
                </div>

                <div class="member">
                    <div class="pic">
                        <img src="../assets/krishna.jpeg" alt="">
                    </div>

                    <h4>Mudi Krishna Vamsi</h4>
                    <h4>S20200010138</h4>
                    <h4>krishnavamshi.m20@iiits.in</h4>
                </div>
            </div>
        </div>

        <div class="more_info">
            <a href="/info" target = "_blank">Web Docs</a>
        </div>

    </main>

    <footer>
        <!-- <a href="#" class = "content" >About Us</a> -->
        <p class = "content" >&copy; Group-27</p>
    </footer>
    
</body>
</html>