<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/dashboardTeacher.css">
</head>

<body>
    <div class="container">
        <div class="navigation active">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="accessibility-outline"></ion-icon></span>
                        <span class="title"><h2>Group-27</h2></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="/profile">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="title">Profile</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="title">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="/info">
                        <span class="icon"><ion-icon name="help-outline"></ion-icon></span>
                        <span class="title">help</span>
                    </a>
                </li>
                <li>
                    <a href="/aboutus">
                        <span class="icon"><ion-icon name="chatbubble-ellipses-outline"></ion-icon></span>
                        <span class="title">About us</span>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <span class="icon"><ion-icon name="power-outline"></ion-icon></span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>

            </ul>

        </div>

        <!--main-->
        <div class="main active">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <!--search-->
                <div class="search">
                    <label>
                         <input type="text" placeholder="search here">
                         <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>
                <!--user-->
                <div class="user">
                    <img src="../assets/profile_pic.svg" alt="user-img">
                </div>
            </div>

            <section class="classes">

                <div class="class" id = "class-1">
                    <div class = "class_name">
                        <h3>FSD - 1</h3>
                    </div>
                        <!-- <p>Easy to take attendence.<br>Just to place the scanner .<br>Track all class attendence. <br>View the students excuses and queries</p> -->
                    
                    <div class = "function_links">
                        <a href="/scanQrCode" class = "btn" target="__blank">Scan QR Code</a>
                        <a href="/showAttendance" class = "btn" target="__blank">Show Attendance</a>
                        <a href="/addClass" class = "btn" target="__blank">Add Class</a>
                        <a href="#" class = "btn" target="__blank">Generate QR</a>
                        <!-- <a href="/addClass" class = "btn" target="__blank"><%= name%></a> -->
                    </div>
        
                </div>

                <div class="class" id = "class-1">
                    <div class = "class_name">
                        <h3>DSA</h3>
                    </div>
                        <!-- <p>Easy to take attendence.<br>Just to place the scanner .<br>Track all class attendence. <br>View the students excuses and queries</p> -->
                    
                    <div class = "function_links">
                        <a href="/scanQrCode" class = "btn" target="__blank">Scan QR Code</a>
                        <a href="/showAttendance" class = "btn" target="__blank">Show Attendance</a>
                        <a href="/addClass" class = "btn" target="__blank">Add Class</a>
                        <a href="#" class = "btn" target="__blank">Generate QR</a>
                        <!-- <a href="/addClass" class = "btn" target="__blank"><%= name%></a> -->
                    </div>
        
                </div>

                <div class="class" id = "class-1">
                    <div class = "class_name">
                        <h3>CCN</h3>
                    </div>
                        <!-- <p>Easy to take attendence.<br>Just to place the scanner .<br>Track all class attendence. <br>View the students excuses and queries</p> -->
                    
                    <div class = "function_links">
                        <a href="/scanQrCode" class = "btn" target="__blank">Scan QR Code</a>
                        <a href="/showAttendance" class = "btn" target="__blank">Show Attendance</a>
                        <a href="/addClass" class = "btn" target="__blank">Add Class</a>
                        <a href="#" class = "btn" target="__blank">Generate QR</a>
                        <!-- <a href="/addClass" class = "btn" target="__blank"><%= name%></a> -->
                    </div>
        
                </div>

                <div class="class" id = "class-1">
                    <div class = "class_name">
                        <h3>TOC</h3>
                    </div>
                        <!-- <p>Easy to take attendence.<br>Just to place the scanner .<br>Track all class attendence. <br>View the students excuses and queries</p> -->
                    
                    <div class = "function_links">
                        <a href="/scanQrCode" class = "btn" target="__blank">Scan QR Code</a>
                        <a href="/showAttendance" class = "btn" target="__blank">Show Attendance</a>
                        <a href="/addClass" class = "btn" target="__blank">Add Class</a>
                        <a href="#" class = "btn" target="__blank">Generate QR</a>
                        <!-- <a href="/addClass" class = "btn" target="__blank"><%= name%></a> -->
                    </div>
        
                </div>
            </section>

        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        //Menu Toggle
        let toggle = document.querySelector('.toggle');
        let navigation = document.querySelector('.navigation');
        let main = document.querySelector('.main');

        toggle.onclick = function() {
            navigation.classList.toggle('active');
            main.classList.toggle('active')
        }

        let list = document.querySelectorAll('.navigation li ');

        function activelink() {
            list.forEach((item) =>
                item.classList.remove('hovered'));
            this.classList.add('hovered');
        }
        list.forEach((item) =>
            item.addEventListener('mouseover', activelink));
    </script>
</body>


</html>