<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Manager</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Tangerine">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>

    <header>

        <div class="brand">
            <div class="brand--logo">
                <a href="/">
                    <img src="../assets/icon.png" alt="">
                </a>
                <a href="/">Group - 27</a>
            </div>
        </div>

        <nav class="main-nav">
            <!-- <a href="#">Home</a> -->
            <a href="/login" id="login">Login</a>
            <!-- <span class = "separator">/</span> -->
            <a href="/register" id="register">Register</a>
        </nav>
    </header>

    <main>

        <!-- back to top  -->

        <div class = "back-to-top">

        </div>

        <!-- PAGE-1 -->

        <section class="page-1">

            <div class="content from_left slide_in">
                <p>New Way of Taking and Managing Attendance</p>
            </div>

            <div class="student-image from_right slide_in">
                <img src="../assets/attendance.png" alt="">
            </div>

            <div class = "extra_buttons fade_in">
                <a href="/login" id="login">Login</a>
                <a href="/register" id="register">Register</a>
            </div>
        </section>

        <hr>

        <!-- PAGE-2 -->

        <section class="page-2">

            <div class="image from_left slide_in">
                <img src="../assets/undraw_teaching.svg" alt="">
            </div>

            <div class="content from_right slide_in slow">
                <p>
                    Group-27 provides a simple and reliable system to take attendance in classroom.
                    It Provides teachers with a handful of tools so that the teachers can just focus on delivering
                    quality content to their students , hence improving the teaching - learning process.
                </p>
            </div>

        </section>

        <!-- PAGE - 3 -->

        <section class="page-3">

            <div class="features">

                <div class="feature from_right slide_in" id="feature-3">
                    <img src="../assets/icon8.png" alt="">
                    <p>Completely Automated Attendance</p>
                </div>

                <div class="feature from_left slide_in" id="feature-2">
                    <img src="../assets/undraw_Happy_news.png" alt="">
                    <p>Easy to use</p>
                </div>

                <div class="feature from_right slide_in" id="feature-1">
                    <img src="../assets/QR_Code_pic.png" alt="">
                    <p>QR code authentification</p>
                </div>
            </div>

            <div class="left_img from_right slide_in">
                <img src="../assets/productivity_pic.png" alt="">
            </div>

        </section>

    </main>

    <footer>
        <a href="/aboutus" class = "content" >About Us</a>
        <p class = "content" >© Group-27</p>
    </footer>

    <script src="../scripts/index.js"></script>
</body>

</html>