<!doctype html>
	<head>
		
		<title>JavaScript qr code generator</title>
	</head>
	<body>
		<h3>Profile</h3>
        <p id="qr-result">This is deault QR code:</p>
        <canvas id="qr-code"></canvas>

        <script type="module" src="../models/class.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
		<script src="../scripts/profile.js"></script>
        
	</body>
</html> 