<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=6.0">
    <title>Attendance</title>

    <link rel="stylesheet" href="../../../css/showAttendance.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>

</head>

<body>

    <header>
        <h1 class="class_name" id="className"><%= name%></h1>
    </header>

    <main>

        <div class="get_xl_btn">
            <input type="button" value="Get Excel File" class = "btn" id="export_btn" onclick="exportTable()">
        </div>

        <div class="filters">
            <div class="search_std">
                <input type="text" name="student_name" id="searchByName">
                <button class = "std_search btn">Search</button>
            </div>

            <div class="filter_date">
                <label for="date_from">From: </label>
                <input type="date" name="date_from" id="date_from">
                <label for="date_to">To: </label>
                <input type="date" name="date_to" id="date_to">
                <button class = "date_filter btn">Filter</button>
        </div>

        <section class="content">
            <section class="table_container">

                <table class="attendance_sheet" id="sheet" style = "width: 100%;">
                    <thead>
                        <tr id="heading">
                            <th class="fixed_column" scope="column">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody>
                </table>
            </section>
        </section>

    </main>

    <footer>
        <a href="/aboutus" class = "content" >About Us</a>
        <p class = "content" >© Group-27</p>
    </footer>

    <script src="../../../scripts/showAttendance.js"></script>
</body>

</html>