@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 1rem;
    font-family: "Roboto",sans-serif;
    font-size: 1.3rem;
}

.heading {
    display: flex;
    justify-content: center;
}