@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400-500;780&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400-500;780&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --blue: #000428;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

::-webkit-scrollbar {
    display: none;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    text-align: center;
}

.main_content {
    margin-top: 20px;
    border: 1px solid var(--black2);
    box-shadow: 0 0 4px var(--black2), 0 0 9px var(--black2);
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px;
    /* padding: 10px; */
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--blue);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

.row {
    /* margin-top: -50px; */
    display: flex;
    justify-content: space-between;
}

.brief-colm {
    flex-basis: 90%;
    background: #fff3f3;
    border-radius: 10px;
    margin: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.3s ease;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.brief-colm:hover {
    transform: scale(1.15);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Modal CSS */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    transition: 1s ease;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.txt_field {
    display: flex;
    justify-content: space-between;
}

form {
    padding: 20px;
}

form input {
    border: 2px solid #999;
    margin-top: 0.3rem;
    border-radius: 5px;
    outline: none;
    background: none;
    width: 50%;
    font-size: medium;
    padding: 4px;
    padding-left: 7px;
}

form input[type="submit"] {
    background-color: #2691d9;
    color: white;
    border: none;
    width: 60%;
    border-radius: 2rem;
    padding: 0.5rem;
    font-size: larger;
}

form input[type="submit"]:hover {
    background-color: #4070f4;
    cursor: pointer;
}

.addAdminDiv {
    display: flex;
    padding: 15px;
    justify-content: flex-start;
    font-family: 'Roboto';
}

.addAdminDiv button {
    border: none;
    outline: none;
    background-color: var(--blue);
    color: var(--white);
    padding: 14px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s ease;
}

#removeAdmin {
    margin-left: 20px;
}

.addAdminDiv button:hover {
    cursor: pointer;
    background: var(--white);
    color: var(--blue);
    transform: scale(1.1);
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: var(--blue);
    border-radius: 5px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: var(--white);
    font-size: 20px;
    transition: .2s ease;
    width: 25%;
}

.tab button:hover {
    background-color: var(--white);
    color: var(--blue);
}

.tab button.active {
    background-color: #fff3f3;
    color: var(--blue);
    transform: scale(1.1);
    border-radius: 2px;
}

.tabContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabsSection {
    padding: 10px;
}

.table_container {
    width: 100%;
}

table {
    width: 100%;
}

table, th, td {
    border: 2px solid var(--blue);
    border-collapse: collapse;
    padding: 10px;
}

table td button {
    border: none;
    outline: none;
    padding: 10px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
    font-size: 15px;
    transition: 0.3s ease;
}

table {
    margin-top: 20px;
}

table td button:hover {
    cursor: pointer;
    background: var(--white);
    color: var(--blue);
    transform: scale(1.1);
}

#studentsTable td {
    width: 25%;
}

#coursesTable td {
    width: 25%;
}

#teachersTable td {
    width: 35%;
}

#studentsTable td:nth-child(4) {
    width: 20%;
}

#coursesTable td:nth-child(3) {
    width: 20%;
}

.btn {
    padding:  0.4rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
    background-color: var(--blue);
    border: none;
    border-radius: 4px;
    color: #fafafa;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    color: var(--blue);
    background-color: #fafafa;
}

.search_std input {
    width: 50%;
    padding: 0.4rem;
}

@media screen and (max-width:500px) {
    .navigation {
        position: fixed;
        width: 250px;
        height: 100%;
        background: var(--blue);
        border-left: 10px solid var(--blue);
        transition: 0.5s;
        overflow: hidden;
    }

    .txt_field {
        display: block;
    }

    .row {
        display: block;
    }

    .brief-colm {
        flex-basis: 90%;
        background: #fff3f3;
        border-radius: 10px;
        margin: 10px;
        padding: 20px 12px;
        box-sizing: border-box;
        transition: 0.3s ease;
    }

    h3 {
        text-align: center;
        font-weight: 600;
        margin: 10px 0;
    }

    .brief-colm:hover {
        transform: scale(1.2);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    form input {
        border: 1px solid #999;
        margin-top: 0.3rem;
        margin-bottom: 0.4rem;
        border-radius: 3px;
        outline: none;
        background: none;
        width: 100%;
        font-size: medium;
    }

    form input[type="submit"] {
        background-color: #2691d9;
        color: white;
        border: none;
        width: 100%;
        border-radius: 2rem;
        padding: 0.5rem;
        font-size: larger;
    }

    form input[type="submit"]:hover {
        background-color: #4070f4;
    }

    /* Modal CSS */

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        transition: 1s ease;
    }

    .modal-content {
        background-color: #fefefe;
        border: 1px solid #888;
        width: 80%;
        border-radius: 20px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}