@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --grad-color-1: #000428;
    --grad-color-2: #004e92;
    --color-1: #151D3B;
    --color-2: #D82148;
    --color-3: #6EBF8B;
}

body {
    margin: auto;
    font-family: "Roboto",sans-serif;
    overflow-x: hidden;
    color: var(--color-1);
}

a {
    text-decoration: none;
}

/* Nav Bar */

header {
    display: flex;
    justify-content: space-between;
    height: 9vh;
    align-items: center;
    font-size: 1.3rem;
    padding: 3rem 2rem 0rem 2rem;
}

.brand--logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand--logo a img {
    height: 4.5rem;
    margin: 0 1rem;
}

.brand--logo a {
    font-weight: bold;
    color: inherit;
    font-family: 'Dancing Script',"Lato",sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav a {
    margin: 0 1rem;
    color: inherit;
    font-weight: bold;
    padding-bottom: 0.3rem;
    transition: all 0.2s ease;
}

.main-nav a:hover {
    border-bottom: 0.4rem solid var(--color-2);
}

.main-nav a#login {
    border: none;
    padding: 0.4rem 0.6rem;
    background-color: var(--color-2);
    color: #fff;
    transition: 0.2s ease;
    border-radius: 8px;
}

.main-nav a#login:hover{
    background-color: #fff;
    color: var(--color-2);
}

/* Page -1  */

::-webkit-scrollbar {
    display: none;
}

.page-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;
    height: 90vh;
    background: rgba(255, 255, 255, 0.4);
    background-image: url('../assets/Internet-Website.png');
    background-size: cover;
    /* background-blend-mode: soft-light; */
    background-blend-mode: lighten;
}

.page-1 .content {
    font-size: 4rem;
    font-family: "Lato",sans-serif;
    margin: 0;
    width: 40vw;
    margin-left: 3vw;
    margin-bottom: 20vh;
}

.page-1 .student-image {
    width: 30vw;
}

.page-1 .student-image img {
    height: 35rem;
}

/* Page - 2  */

.page-2 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;

    background-color: var(--color-1);
    color: #fafafa;
}

.page-2 img {
    height: 29rem;
}

.page-2 .content {
    font-size: 2rem;
    width: 40vw;
}

hr {
    border-top: 2px solid rgb(21, 29, 59,0.2);
    margin: 10px 40px;
}

/* Page - 3  */

.page-3 {
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    padding: 3rem 4rem;

    background: rgba(255, 255, 255, 0.9);
    background-image: url("../assets/bgpic.png");
    background-blend-mode: lighten;
    background-size: cover;
}

.page-3 .features {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    width: 40vw;
}

.left_img {
    display: inline-block;
}

.left_img img{
    height: 35rem;
}

.feature {
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 1rem;
    cursor: pointer;
    border: 2px solid var(--color-1);
    
    background-color: #fff;
    transition: 0.2s ease;

}

.feature:hover {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.6);
}

.feature img {
    height: 5rem;
}

.feature p {
    font-size: 20px;
    font-weight: bold;
}

#feature-2 {
    align-self: flex-start;
    width: 25rem;
    padding: 0.5rem 2rem;
    flex-direction: row;  
}

#feature-1, #feature-3 {
    align-self: flex-end;
    flex-direction: row-reverse;
    width: 25rem;
    /* padding: 1rem 2rem; */
}

#feature-1 img, #feature-3 img {
    margin-left: 20px;
}

#feature-2 img {
    height: 6rem;
    margin-right: 0;
    margin: 0 40px 0 0px;
}


/* footer  */

footer {
    background-color: var(--color-1);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

