@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    
    --off-black: #151D3B;
    --red-pink: #D82148;
}

body {
    /* margin: auto; */
    font-family: "Roboto",sans-serif;
    overflow-x: hidden;
    color: var(--off-black);
    transition: all 0.4s;
}

a {
    text-decoration: none;
}

section {
    overflow: hidden;

}

/* Nav Bar */

header {
    display: flex;
    justify-content: space-between;
    height: 9vh;
    align-items: center;
    font-size: 1.3rem;
    padding: 3rem 2rem 0rem 2rem;
    background-color: transparent;
    /* position: relative; */
    z-index: 200;
}

.nav-button {
    display: none;
}

.brand--logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand--logo a img {
    height: 4.5rem;
    margin: 0 1rem;
}

.brand--logo a {
    font-weight: bold;
    color: inherit;
    font-family: 'Dancing Script',"Lato",sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav a {
    margin: 0 1rem;
    color: inherit;
    font-weight: bold;
    padding-bottom: 0.3rem;
    transition: all 0.2s ease;
    /* box-shadow: 2px 2px 10px rgba(0,0,0,0.2) */
}


.main-nav a#register{
    border: none;
    padding: 0.4rem 0.6rem;
    background-color: var(--red-pink);
    color: #fff;
    transition: 0.2s ease;
    border-radius: 9px;
}

.main-nav a#login{
    border: none;
    padding: 0.4rem 0.6rem;
    background-color: #fff;
    color: var(--red-pink);
    transition: 0.2s ease;
    border-radius: 9px;
}

.main-nav a:hover {
    /* border-bottom: 0.4rem solid var(--red-pink); */
    transform: translate(1px,1px) ;
    /* box-shadow: 1px 1px 10px rgba(0,0,0,0.3); */
}

.main-nav a#login {
    margin-right: 0.6rem;
}

.main-nav a#register {
    margin-left: 0.6rem;
}

::-webkit-scrollbar {
    display: none;
}

/* Page -1  */

.page-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;
    height: 90vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.4);
    background-image: url('../assets/Internet-Website.png');
    background-size: cover;
    /* background-blend-mode: soft-light; */
    background-blend-mode: lighten;
}

.page-1 .content {
    font-size: 4rem;
    font-family: "Lato",sans-serif;
    margin: 0;
    width: 45%;
    /* margin-left: 3%;
    margin-bottom: 20%; */
}

.page-1 .student-image {
    width: 30%;
    /* overflow: hidden; */
}

.page-1 .student-image img {
    width: 100%;
    /* margin-left: 2rem; */
}

.extra_buttons {
    display: none;
}

/* Page - 2  */

.page-2 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;

    background-color: var(--off-black);
    color: #fafafa;
}

.page-2 img {
    /* height: 70vh; */
    width: 45vw;
}

.page-2 .content {
    font-size: 2rem;
    width: 45vw;
}

hr {
    border-top: 2px solid rgb(21, 29, 59,0.2);
    margin: 10px 40px;
}

/* Page - 3  */

.page-3 {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 4rem;

    background: rgba(255, 255, 255, 0.9);
    background-image: url("../assets/bgpic.png");
    background-blend-mode: lighten;
    background-size: cover;
}

.features {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-around;
    width: 45vw;
    z-index: 1;
}

.left_img {
    width: 40vw;
}

.left_img img{
    width: 40vw;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    padding: 1rem;
    cursor: pointer;
    width: 45%;
    height: 8rem;
    border: 2px solid var(--off-black);
    
    background-color: #fff;
    transition: 0.2s ease;
    margin: 1rem;

}

.feature:hover {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

.feature img {
    height: 100%;
}

.feature p {
    font-size: 1.3rem;
    font-weight: bold;
}

#feature-2 {
    align-self: flex-start;
    width: 25rem;
    padding: 0.5rem 2rem;
    flex-direction: row;  
}

#feature-1, #feature-3 {
    align-self: flex-end;
    flex-direction: row-reverse;
    width: 25rem;
    /* padding: 1rem 2rem; */
}

#feature-1 img, #feature-3 img {
    margin-left: 20px;
}

#feature-2 img {
    height: 6rem;
    margin-right: 0;
    margin: 0 40px 0 0px;
}


/* footer  */

footer {
    background-color: var(--off-black);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fafafa;
}

footer .content {
    text-decoration: none;
    margin: 0.5rem 0rem;
    color: inherit;
}

footer a:hover {
    color: #d1d1d1;
}

/* Effects  */

.fade_in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fade_in.appear {
    opacity: 1;
}

.from_left {
    transform: translateX(-25%);
}

.from_right {
    transform: translateX(25%);
}

.from_left,
.from_right {
    opacity: 0;
    transition: opacity 0.3s ease-in, transform 0.7s ease-in;
}

.from_left.slow,
.from_right.slow {
    transition: opacity 0.5s ease-in, transform 1s ease-in;
}

.from_left.appear,
.from_right.appear {
    opacity: 1;
    transform: translateX(0);
}

@media screen and (max-width: 480px) {

    header {
        justify-content: center;
        align-items: center;
    }

    .main-nav {
        display: none;
    }

    .page-1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .page-1 .content {
        width: 100%;
        text-align: center;
    }

    .extra_buttons {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .extra_buttons a {
        margin: 2 1rem;
        color: inherit;
        font-weight: bold;
        padding-bottom: 0.3rem;
        font-size: 2rem;
        transition: all 0.2s ease;
    }
    
    
    .extra_buttons a#register{
        border: none;
        padding: 0.4rem 0.6rem;
        background-color: var(--red-pink);
        color: #fff;
        transition: 0.2s ease;
        border-radius: 9px;
    }
    
    .extra_buttons a#login{
        border: none;
        padding: 0.4rem 0.6rem;
        background-color: #fff;
        color: var(--red-pink);
        transition: 0.2s ease;
        border-radius: 9px;
    }
    
    .extra_buttons a:hover {
        transform: translate(1px,1px) ;
    }
    
    .extra_buttons a#login {
        margin-right: 0.6rem;
    }
    
    .extra_buttons a#register {
        margin-left: 0.6rem;
    }

    .page-1 .student-image {
        display: none;
    }

    .page-2 {
        justify-content: center;
        align-items: center;
    }

    .page-2 .content {
        width: 100%;
    }

    .page-2 .image {
        display: none;
    }

    .page-3 {
        align-items: center;
        justify-content: center;
    }

    .page-3 .left_img {
        display: none;
    }

    .features {
        width: 80vw;
    }

    #feature-1,
    #feature-2,
    #feature-3 {
        width: 80vw;
        align-self:center;
        text-align: center;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .feature img {
        display:none;
    }
}
