
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}

body{
  height:100%;
  width: 100%;
  display: flex;


}



.center_left{
    display: flex;
    margin: 1rem;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

.center_left img{
    width: 100%;
}

#email_err{
    font-size: small;
    color: red;
    margin-top: 0.2rem;
    margin-bottom: 01rem;

}
#pass_err{
    font-size: small;
    color: red;
    margin-top: 0.2rem;
    margin-bottom: 01rem;

}
#c_pass_err{
    font-size: small;
    color: red;
    margin-top: 0.2rem;
    margin-bottom: 01rem;

}
#roll_err{
    font-size: small;
    color:red;
    margin-top: 0.2rem;
    margin-bottom: 01rem;
}






.register{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
      
}

.register select{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    background-color: #2691d9;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: medium;

}


.register form{
   width: 23rem;
   align-items: center;
   justify-content: center;
   margin-top: 5rem;
   
    border: 0.3rem solid grey;
    border-radius: 2.5rem;
    padding: 2rem;
}




#roll{
    opacity: 1;
}

form h1{
    font-size: 2.5rem;
    font-weight: bold;

    text-align: center;
    margin-bottom: 2rem;
    
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid gray; 
    margin-bottom: 1.5rem;
}

form label{
    font-size: large;
    margin-top: 2rem;
    color: #2691d9;
    
}

form input{
    border: none;
    margin-top: 0.5rem;
    border-bottom: 0.1rem solid grey;
    margin-bottom: 1rem;
    outline: none;
    background: none;
    width: 100%;
    font-size: large;
}

form input[type="submit"]
{
background-color: #2691d9;
color: white;
border: none;
width: 100%;
border-radius: 2rem;
padding: 0.5rem;
font-size: larger;
/* font-weight: bold; */

}


form input[type="submit"]:hover{
    background-color: #4070f4 ;
}

.pass{
    color: grey;
    /* margin: 0.5rem ; */
    margin-bottom: 1rem;
    font-size: large;
}

.signup_link{
    font-size: large;
    margin: 0.3rem;
}

.signup_link a{
text-decoration: none;
color: #2691d9;
}

.signup_link a:hover{
    text-decoration: underline;
    /* font-size: larger; */
    color: #4070f4;
}

